<div>
  <h1>About Me</h1>
  <p>
    My paintings have always been involved with the beauty of pure paint and the illusion of three-dimensional space. Experience of light and space in nature has been my main influence.
  </p>
  <p>
    My first oil paintings—at age twelve—were landscapes and still lifes. I graduated from the Pennsylvania Academy of the Fine Arts where I began with academic training in the tradition of Mary Cassatt and Thomas Eakins.
  </p>
  <p>
    There, under the influence of the ‘60s art school experience, I soon moved toward abstraction, influenced by pop art, abstract expressionism and color field painting.
  </p>
  <p>
    When I relocated to Boulder in 1970, I was captivated by the light, sky and color of Colorado.
  </p>
  <p>
    Since then I have lived and traveled in many places—England, New York City, Italy, Mexico, Maui, Costa Rica—and all have found their way into my art in one form or another.
    Thus it was natural to begin to incorporate into my paintings photographs from my travels.
  </p>
  <p>
    In addition to the natural landscape, graveyards and churches have always interested me. On a trip to New York City in 1999 I took snapshots early one Saturday morning of Trinity Church graveyard and surrounding buildings on Wall Street,
    a scene memorialized in countless mass media images after 9/11. In the spring of 2002 on a trip to San Diego I took photos of Cabrillo Military graveyard at sunset. What I discovered was that I like the way the light and shadows play in these richly meaningful settings.
  </p>
  <p>
    I have been able to combine formal and expressive interests, which play out in purely abstract paintings, with the emotional sense of place that photographs bring to the total image.
  </p>
  <p>
    Currently, I find that both styles nurture each other.
  </p>
</div>
